################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webClient/.vs/webClient
/webClient/.vs
